@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;469;500;600;700&display=swap');

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Oswald', sans-serif;
  color: black;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f7f8fe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
/*page-wrapper*/
.page-wrapper {
  width: 100%;
  min-height: 100%;
}
/* logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.logo h2 {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0;
}
.logo .deer {
  display: block;
  position: relative;
  transform: translateY(-1.5rem);
}
.logo p {
  font-size: 2rem;
  font-weight: 300;
}
.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 150px;
}
.navigation ul {
  transform: translate(-50%);
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.navigation li {
  padding-bottom: 2rem;
  position: relative;
  cursor: pointer;
}
.navigation li:hover::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '';
  display: block;
  width: 40px;
  border-bottom: 1px solid var(--yellow);
  margin-top: -0.5rem;
  margin-right: -5rem;
}
/* reindeer */
.reindeer-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 740px;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.reindeer-image {
  width: 100%;
  height: 100%;
  background: url(../assets/reindeer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* title */
.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -200px;
  right: 250px;
  z-index: 2;
}
.title h1 {
  font-size: 11rem;
  font-weight: bold;
  transform: scaleY(1.4);
  color: var(--gray);
  letter-spacing: 1.5rem;
}
.title p {
  max-width: 350px;
  margin-left: auto;
  font-size: 2rem;
  font-weight: 300;
}
/*circle-wrapper*/
.circle-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 640px;
  border-radius: 50%;
  border: 1px solid var(--gray);
}
.circle-one,
.circle-two {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: var(--white);
  width: 600px;
  height: 600px;
  animation-name: rotate-circle;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circle-two {
  border-color: transparent var(--yellow);
}
@keyframes rotate-circle {
  to {
    transform: rotate(360deg);
  }
}
/* circle-wrapper-label*/
.circle-wrapper-label {
  position: absolute;
  z-index: 100;
  width: 64px;
  height: 64px;
  border: 1px solid var(--gray-dark);
  border-radius: 50%;
  z-index: 100;
}

.circle-wrapper-label.one {
  top: 80px;
  left: 200px;
}
.circle-wrapper-label.two {
  bottom: 170px;
  right: 80px;
}
.circle-wrapper-label:hover {
  cursor: pointer;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.circle-wrapper-label::before {
  position: absolute;
  top: 7px;
  left: 7px;
  content: '';
  width: 48px;
  height: 48px;
  background: var(--yellow);
  border-radius: 50%;
}
.circle-wrapper-label::after {
  position: absolute;
  top: 19px;
  left: 19px;
  content: '';
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
}
.circle-wrapper-label .circle-label {
  display: block;
  position: absolute;
  font-size: 2rem;
}
.circle-wrapper-label.one .circle-label {
  top: 50%;
  transform: translateY(-50%);
  right: -150%;
  margin-right: -0.5rem;
}
.circle-wrapper-label.two .circle-label {
  left: -150%;
  top: 50%;
  transform: translateY(-50%);
}
/* social-wrapper */

.social-wrapper {
  font-size: 2rem;
  color: var(--dark);
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
.social-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-wrapper li {
  padding: 1rem 1.5rem;
  text-align: center;
  width: 50px;
  position: relative;
  margin-right: 1rem;
}
.social-wrapper li:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--yellow);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: -1;
  animation: pulse-circle 1s ease-in-out infinite;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.6);
}
.social-wrapper i:hover {
  cursor: pointer;
}

@keyframes pulse-circle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* scroll-down */
.scroll-down {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--gray-dark);
  position: absolute;
  left: -20px;
  bottom: 80px;
  transform: rotate(-90deg);
}
.scroll-down::before {
  content: '';
  display: inline-block;
  width: 10rem;
  margin-right: 1rem;
  border-bottom: 0.1rem solid var(--gray-dark);
  transform: translateY(-0.3rem);
}
/* watch */
.watch-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  align-items: center;
  background: var(--yellow);
  min-width: 300px;
  z-index: 2;
}
.watch-wrapper .watch-icon {
  font-size: 4rem;
  padding: 2rem;
  color: var(--white);
}
.watch-wrapper .watch-link {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 300;
}
.watch-wrapper .watch-link a {
  color: var(--dark);
}
